{% if has_images %}
    <span class="oczoom-close cursor" onclick="oczoom.closeLightBox()">&times;</span>
    <div class="lightbox-content">
        {% set i = 1 %}
        {% for image in images %}
            <div class="mySlides">
                <div class="numbertext">{{ i }} / {{ images|length }}</div>
                <img src="{{ image.src }}" alt="">
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>
    <a class="oczoom-prev" onclick="oczoom.plusSlides(-1)">&#10094;</a>
    <a class="oczoom-next" onclick="oczoom.plusSlides(1)">&#10095;</a>
{% else %}
    <div class="lightbox-content">No Image Data</div>
{% endif %}