.product-zoom-image { overflow: inherit; margin: 0; padding: 0; }
.lightbox-container {
    display: none;
    position: fixed;
    z-index: 100001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
.lightbox-content {
    position: relative;
    margin: auto;
    padding: 0;
    top: 20%;
    width: 90%;
    max-width: 1200px;
}
.oczoom-close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    opacity: 1;
}
.oczoom-close:hover,
.oczoom-close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.mySlides {
    display: none;
    text-align:  center;
    background: #000;
}
.oczoom-prev,
.oczoom-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.oczoom-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.oczoom-prev:hover,
.oczoom-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: -50px;
    left: 50%;
}
@media (max-width: 1366px) {
    .lightbox-content {
        top: 10%;
    }
}