body {
    font-family: 'Libre Franklin', sans-serif;
	font-weight: 400;
	color: #555;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
}
*:focus{
	outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #242424;
	line-height: 1;
	text-transform: capitalize;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
@media (min-width:1200px){
	.container{
		width:1200px
	}
}
a {
	color: #555;
	cursor: pointer;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #e53131;
}
img{
	max-width: 100%; 
	height: auto;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.flip{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
}
.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* tooltip */
.tooltip.top .tooltip-arrow {
  border-top-color: #e53131;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #e53131;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #e53131;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #e53131;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #e53131;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #e53131;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #e53131;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #e53131;
}
.tooltip-inner{
	background: #e53131;
}
.alert{
	text-align: center;
	font-size: 13px;
	margin: 0;
	border-radius: 0;
	border: none;
}
#content > h1,
#content > h2{
	margin: 0 0 50px;
}
/* transition */
.actions-link, .actions-link2,
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
	transition: ease-in-out all .3s;
}
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	color: #fff !important;
	background-color: #e53131 !important;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	border: none;
	background: #f2f2f2 !important;
	padding: 0px 40px;
	text-transform: uppercase;
	font-size: 12px;
	color: #363f4d !important;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 3px;
	font-weight: 500;
}
#button-voucher,
#button-coupon{
	line-height: 34px;
	height: 34px;
	margin-left: 10px;
}
#button-search + h2{
	display: none;
}
#button-search{
	margin: 15px 0;
}
.modal-backdrop.in{
	opacity: .8;
	z-index: 30009;
}
#modal-agree{
	z-index: 30010;
}
/* header */
.top-header{
	border-bottom: 1px solid #ebebeb;
	padding: 10px 3.125%;
}
.middle-header .row,
.top-header .row{
	margin: 0;
}
.middle-header .container,
.top-header .container{
	padding: 0;
	width: 100%;
}
.top-banner{
	float: left;
}
#top{
	float: right;
}
.top-header #top > ul li .btn-link i{
	margin-left: 7px;
	color: #999999;
	font-size: 10px;
}
.top-header #top > ul > li > a{
	vertical-align: middle;
}
.top-header #top > ul > li > a,
.top-header #top > ul > li .btn-link{
	color: #8d8d8d;
	text-transform: capitalize;
	padding: 0;
	border: none;
	font-size: 12px;
	text-decoration: none !important;
	line-height: 1;
}
.top-header #top > ul > li .btn-group img{
	border-radius: 100%;
	float: left;
	margin-right: 10px;
}
.top-header #top > ul > li{
	display: inline-block;
	line-height: 1;
	padding: 0 30px 0 0;
}
.top-header #top > ul li:last-child{
	padding: 0;
}
.top-header #top > ul{
	padding: 0;
	margin: 0;
	text-align: right;
}
.top-header #top > ul li .dropdown-menu{
	right: -10px;
	left: auto;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	top: calc(100% + 13px);
	border: none;
	border-radius: 3px;
	margin: 0;
	padding: 10px 25px;
}
.top-header #top > ul li .dropdown-menu li:hover .btn-link,
.top-header #top > ul li .dropdown-menu li:hover a{
	text-decoration: none;
	color: #e53131
}
.top-header #top > ul li .dropdown-menu li a,
.top-header #top > ul li .dropdown-menu li .btn-link{
	text-align: left;
	color: #404040;
	font-size: 12px;
	text-transform: capitalize;
}
.top-header #top > ul li .dropdown-menu li:last-child{
	border: none;
}
.top-header #top > ul li .dropdown-menu li{
	padding: 13px 0;
	display: block;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.middle-header{
	padding: 0px 3.125%;
}
.middle-header .block-right > *{
	float: right;
}
.middle-header .block-right{
	padding: 33px 0 0;
	display: flex;
	justify-content: flex-end;
}
#logo{
	padding: 42px 0 0;
}
.main-menu{
	position: relative;
}
.main-menu .sub-col,
.main-menu .main-col{
	padding: 0;
}
.logo-container{
	padding: 0;
}
/* search */
.search-containers{
	margin-right: 40px;
}
/* title */
.dn-title .module-title{
	display: none;
}
.module-title .module-description{
	color: #747474;
	line-height: 18px;
	margin: 25px 0 0;
}
.module-title h2{
	font-size: 36px;
	font-weight: 600;
	margin: 0;
	line-height: .83;
	letter-spacing: -.025em;
}
.module-title{
	text-align: center;
	margin: 0 0 55px 0;
}
.title2  .module-title{	
	text-align: left;
	position: relative;
	margin-bottom: 35px;
}
.title2 .module-title::before{
	content: "";
	position: absolute;
	top: 50%;
	height: 1px;
	width: 100%;
	left: 0;
	right: 0;
	background: #ebebeb;
	z-index: -1;
}
.title2 .module-title h2{
	font-size: 24px;
	color: #222222;
	text-transform: capitalize;
	margin: 0;	
	display: inline-block;
	font-weight: 500;
	background: #fff;
	padding-right: 20px;
}
.title3  .module-title{
	text-align: left;
	margin: 0;
}
.title3  .module-title h2{
	color: #242424;
	font-size: 20px;
	font-weight: 600;
	text-transform: capitalize;
	width: 100%;
	padding: 0px;
	margin-bottom: 25px;
	line-height: 24px;
}
.title4  .module-title{
	margin: 0 0 5px 0;
}
.title4  .module-title::before{
	content: "";
	position: absolute;
	height: 2px;
	background: #222;
	top: 9px;
	right: 0;
	left: 0;
	z-index: -1
}
.title4  .module-title h2{
	color: #212121;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	background: #fff;
	padding-right: 20px;
}
/* newsletter popup */
.b-close{
	display: block;
}
.b-modal{
	z-index: 100000 !important;
}
.newletter-popup{
	z-index: 100000 !important;
	background: #fff;
	top: 50% !important;
	left: 50% !important;
	position: fixed !important;
	padding: 50px;
	text-align: center;
	display: none;
	width: 60%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#boxes .newletter-title h2{
	font-size: 36px;
	text-transform: uppercase;
	color: #000;
	margin: 0 0 20px;
}
#boxes .box-content label{
	font-weight: 400;
}
#boxes  #frm_subscribe .required{
	color: #f00;
	padding-right: 5px;
}
#boxes  #frm_subscribe a{
	cursor: pointer;
}
#boxes  #frm_subscribe #subscribe_pemail{
	background: #EBEBEB none repeat scroll 0% 0%;
	border: medium none;
	height: 40px;
	width: 50%;
	margin: 20px 0;
	padding: 0 15px;
}
#boxes .box-content .subscribe-bottom{
	margin-top: 20px;
}
#boxes .box-content .subscribe-bottom  label{
	margin: 0;
}
#boxes .box-content .subscribe-bottom #newsletter_popup_dont_show_again{
	display: inline-block;
	margin: 0;
}
#boxes  #frm_subscribe #notification{
	color: #f00;
}
#boxes  #frm_subscribe #notification .success{
	color: #67D7BB;
}
#popup2{
	position: absolute;
	right: 0;
	top: -25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #222;
	cursor: pointer;
	padding: 0 10px;
	color: #fff;
}
/* newsllter */
.newletter-subscribe-container .container{
	width: 100%;
	text-align: center;
}
.newletter-subscribe-container{
	background: url('../image/bg-newsletter.jpg') center no-repeat;
	padding: 200px;
	margin-bottom: 100px;
}
#dialog-normal .newsletter-des{
	color: #cfcae3;
	margin: 0 0 75px 0;
}
#dialog-normal .newletter-title{
	font-size: 36px;
	color: #fff;
	margin: 0px;
	margin-bottom: 30px;
	font-weight: 600;
	letter-spacing: -.025em;
}
#dialog-normal .newleter-content label{
	font-size: 12px;
	color: #999999;
}
#dialog-normal .newletter-title label{
	color: #bebebe;
	margin: 0;
}
#dialog-normal .newleter-content{
    max-width: 730px;
	margin: 0 auto;
}
#subscribe_email{
	background: #fff;
	border: none;
	border-radius: 3px;
	padding: 0 210px 0 20px;
	overflow: hidden;
	color: #757575;
	width: 100%;
	text-transform: capitalize;
	font-size: 13px;
	font-style: italic;
	font-weight: 300;
	line-height: 50px;
}
#frm_subscribe-normal #subscribe{
	position: relative;
	margin: 0;
}
#subscribe_email::-webkit-input-placeholder{
  color: #b7b2ca;
  opacity: 1;
}
#subscribe_email::-moz-placeholder{
  color: #b7b2ca;
  opacity: 1;
}
#subscribe_email:-ms-input-placeholder{
  color: #b7b2ca;
  opacity: 1;
}
#subscribe_email:-moz-placeholder {
  color: #b7b2ca;
  opacity: 1;
}
#subscribe .btn{
	background: #242424 !important;
	color: #fff !important;
	height: 50px;
	line-height: 50px;
	padding: 0 55px;
	min-width: 200px;
	font-weight: 500;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 3px;
	text-transform: capitalize;
}
#subscribe .btn:hover{
	background: #e53131 !important;
	color: #fff !important;
}
#notification-normal{
	clear: both;	
	text-align: left;
}
#notification-normal div{
	color: #e53131;
	padding: 10px 0;
}
#notification-normal div.warning{
	color: #f00;
}
/* blog */
#blog_home {
	margin: 0 0 95px 0;
}
#blog_home .aritcles-content{
	padding: 25px 0 0;
}
#blog_home .articles-name + p .author-name{
	color: #e53131;
}
#blog_home .articles-name + p .txt-posted{
	color: #242424;
}
#blog_home .articles-name + p{
	color: #747474;
	font-size: 13px;
	text-transform: capitalize;
	margin: 10px 0 20px;
}
#blog_home .articles-name:hover{
	color: #e53131;
}
#blog_home .articles-name{
	color: #242424;
	font-size: 16px;
	font-weight: 600;
}
#blog_home .readmore{
	display: none;
}
#blog_home .articles-intro{
	line-height: 24px;
}
.view_all{
	color: #7a7a7a;
	font-size: 13px;
	text-align: right;
	float: right;
	margin: 0;
	display: inline-block;
	padding-right: 15px;
}
.cart-container{
	width: 12.5%;
	padding: 35px 0;
}
#cart{
	width: auto;
}
#cart-total .txt_items,
#cart-total .total-price{
	display: none;
}
#cart-total .txt_number{
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	line-height: 1;
}
#cart-total{
	line-height: 18px;
}
#cart-total .total-price{
}
#cart > button i{
	color: #fff;
	font-size: 18px;
	line-height: 1;
	margin-right: 10px;
}
#cart > button{
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 12px 20px;
	display: flex;
	float: none;
	height: 45px;
	background: #242424;
	border-radius: 20px;
}
#cart .dropdown-menu .text-empty{
	margin: 0;
	padding: 10px 0;
}
.fix-header #cart .dropdown-menu{
	margin: 7px 0 0;
}
#cart .dropdown-menu{
	border: 1px solid #ebebeb;
	border-radius: 0px;
	box-shadow: none;
	min-width: 350px;
	margin: 15px 0 0 0;
	padding: 0px;
	top: 100%;
}
#cart-total .item-cart{
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	background: #e53131;
	border: 2px solid #fff;
	color: #fff;
	top: -8px;
	left: 32px;
	border-radius: 100%;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400 !important;
}
#cart .cart-empty{
	padding: 20px 0;
}
#cart .dropdown-menu p{ 
	margin: 0;
}
#cart .dropdown-menu > li{
	padding: 0 25px;
}
#cart .dropdown-menu > li:first-child .table > tbody > tr > td{
	padding: 20px 0;
}
#cart .table > tbody > tr > td{
	border: none;
	padding: 0;
}
#cart .cart-close button{
	background: none;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	margin: 0;
}
#cart .cart-close:hover i{
	color: #e53131;
}
#cart .cart-close i{
	font-size: 18px;
	color: #747474;
	float: left;
}
#cart .cart-quantity{
	color: #747474;
	margin: 8px 0 !important;
	font-size: 12px;
}
#cart .info-item a:hover{
	color: #e53131;
}
#cart .info-item a{
	color: #747474;
	text-transform: capitalize;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -.02em;
}
#cart .cart-price{
	font-size: 13px;
	font-weight: 500;
	color: #242424;
}
#cart .cart-button{
	padding: 30px 0px 25px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: #fff;
}
#cart p.cart-button a:last-child{
	margin-right: 0;
	margin-bottom: 0;
}
#cart p.cart-button a{
	background: #f6f6f6;
	color: #242424;
	line-height: 50px;
	text-align: center;
	padding: 0 20px;
	display: block;
	text-transform: capitalize;
	font-size: 13px;
	/* margin-right: 15px; */
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
	font-weight: 500;
	width: auto;
}
#cart p.cart-button a:hover{
	border-color: #242424;
	background: #242424;
	color: #fff;
}
#cart p.cart-button a:hover i{
	color: #fff;
}
#cart p.cart-button a i{
	padding-left: 5px;
	font-size: 10px;
	color: #434343;
	display: none;
}
#cart .dropdown-menu .info-item{
	padding-left: 10px !important;
}
#cart .dropdown-menu .has-scroll table{
	margin: 0;
}
#cart .dropdown-menu .has-scroll tr{
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,.06);
}
#cart .dropdown-menu .has-scroll{
	max-height: 260px;
	overflow: auto;
	margin-bottom: 20px;
}
#cart .dropdown-menu tr td strong{
	color: #000;
}
#cart .dropdown-menu tr td:first-child{
	color: #242424;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
#cart .dropdown-menu tr td:last-child{
	color: #242424;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}
.unvisible{
	display: none;
}
.fix-header .ul-top-items li{
	display: inline-block !important;
	float: none !important;
	background: none !important;
}
.fix-header .ul-top-items{
	background: none !important;
}
.fix-header .block-right{
	padding: 8px 0 0;
}
.fix-header #logo{
	padding: 17px 0 0;
}
.fix-header .oc-menu-bar{
	min-height: 60px !important;
}
.fix-header .horizontal-menu .ul-top-items .li-top-item > a{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.fix-header{
	top: 0;
	position: fixed !important;
	background: rgba(255,255,255, .95) !important;
	width: 100%;
	left: 0;
	z-index: 100000;
	margin: 0;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.fix-header-act{
	background: rgba(255,255,255, 1) !important;
	z-index: 10001;
}
/* cms block */
.col-img{
	text-align: center;
}
.banner-sidebar:hover img{
	opacity: .8
}
.banner-sidebar{
	margin-bottom: 30px;
	text-align: center
}
.static-news-feed{
	color: #8d8d8d;
	font-size: 12px;
}
.static-news-feed p{
	margin: 0;
}
.static-news-feed p span{
	color: #242424;
}
.static-link{
	text-align: right;
}
.static-link ul{
	margin: 5px 0 0 0;
	padding: 0;
}
.static-link li:last-child{
	padding: 0;
}
.static-link li a:hover{
	color: #e53131;
}
.static-link li a{
	color: #999;
}
.static-link li{
	display: inline-block;
	padding: 0 30px 0 0;
}
.static-tags ul{
	margin: 0;
	padding: 0;
}
.static-tags li:hover a{
	color: #fff;
	border-color: #e53131;
	background: #e53131;
}
.static-tags li a{
	display: inline-block;
	color: #747474;
	padding: 0 15px;
	border: 1px solid #ebebeb;
	border-radius: 15px;
	line-height: 31px;
}
.static-tags li{
	display: inline-block;
	margin: 0 10px 10px 0;
}
.static-social .title-footer{
	margin-bottom: 15px;
}
.static-social li:last-child{
	margin: 0;
}
.static-social li{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.static-social li a:hover{
	color: #fff !important;
}
.static-social li a{
	border: 1px solid #353535;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	font-size: 16px !important;
	color: #494949;
	line-height: 40px !important;
}
.static-about-us{
	margin-bottom: 25px;
}
.static-about-us .about-us-des{
	line-height: 24px;
	color: #999999;
}
.contact-info{
	padding-bottom: 20px;
}
.contact-info li{
	color: #999;
	line-height: 30px;
}
.social-footer li a:hover i{
	color: #e53131 !important;
}
.social-footer li a{
	text-align: center;
	padding: 0 13px;
}
.social-footer li a i{
	color: #212121;
	line-height: 1;
	font-size: 28px;
	vertical-align: middle;
}
.social-footer ul{
	margin: 0;
	padding: 0;
}
.social-footer{
	text-align: center;
	padding: 45px 0 25px;
}
.social-footer li{
	display: inline-block;
	margin-bottom: 5px;
}
.static-policy .col{
	margin-bottom: 30px;
}
.static-policy .col:last-child{
	margin-bottom: 100px;
}
.static-policy .col-inner{
	padding: 25px 15px 25px 25px;
	display: flex;
	border: 1px solid #ebebeb;
	border-radius: 3px;
}
.static-policy .text-content{
	padding-left: 25px;
}
.static-policy .text-content p{
	font-size: 13px;
	line-height: 18px;
	color: #888888;
	text-transform: capitalize;
	margin: 0;
}
.static-policy .text-content h4{
	font-size: 14px;
	color: #242424;
	text-transform: capitalize;
	font-weight: 600;
	letter-spacing: -.025em;
	margin: 0 0 5px 0;
}
.static-policy .col-img i{
	font-size: 60px;
	color: #5a7ea8;
	display: inline-block;
}
.cmsblock img:hover{
	opacity: .8;
}
.banner-1 .cols:last-child{
	margin-bottom: 100px;
}
.banner-1 .cols{
	position: relative;
	margin-bottom: 30px;
}
.banner-1 .text-content{
	position: absolute;
	top: 40px;
	left: 55px;
	text-align: left;
}
.banner-1 .text-content h5{
	font-size: 16px;
	margin: 0;
}
.banner-1 .text-content h4{
	font-size: 24px;
	margin: 0 0 10px 0;
}
/* owl carousel */
.owl-theme .owl-nav{
	margin: 0;
}
.owl-theme .owl-dots{
	position: absolute;
	bottom: -20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1;
}
.owl-theme .owl-dots{
	text-align: center;
}
.owl-theme .owl-dots .owl-dot{
	display: inline-block;
	line-height: 1;
}
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span{
	background: #e53131;	
}
.owl-theme .owl-dots .owl-dot.active span{
	width: 29px;
	border-radius: 10px;
}
.owl-theme .owl-dots .owl-dot span{
	width: 7px;
	height: 7px;
	background: #e2e2e2;
	border-radius: 100%;
	display: inline-block;
	margin: 0 2px;
}
.owl-carousel:hover .owl-nav [class*="owl-"]{
	opacity: 1;
}
.owl-theme .owl-nav [class*="owl-"]{
	position: absolute;
	top: 50%;
	margin: 0;
	margin-top: -18px;
	background: none !important;
	width: 36px;
	height: 36px;
	text-align: center;
	color: #e2e2e2;
	border-radius: 0px;
	padding: 0;
	border: none;
	opacity: 0;
}
.owl-nav > .owl-next{
	right: -35px;
}
.owl-nav > .owl-prev{
	left: -35px;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
	color: #e53131;
}
.owl-style2 .owl-theme .owl-nav [class*="owl-"]{
}
.owl-style2 .owl-theme .owl-nav [class*="owl-"]{
}
.owl-style2 .owl-theme .owl-nav [class*="owl-"]:hover{
}
.owl-style2  .owl-nav > .owl-next{
	right: 0;
}
.owl-style2  .owl-nav > .owl-prev{
	left: 0;
}
.owl-style2 .owl-theme .owl-nav [class*="owl-"] i{
	font-size: 20px;
}
.owl-style3 .owl-theme .owl-nav{
	position: absolute;
	right: 0;
	top: -55px;
	background: #fff;
}
.owl-style3 .owl-theme .owl-nav [class*="owl-"]{
	color: #c8c8c8;
	position: static;
	width: 18px;
	height: 18px;
	margin: 0;
}
.owl-style3 .owl-theme .owl-nav [class*="owl-"]:hover{
	color: #e53131;
}
.owl-style3  .owl-nav > .owl-prev{
	margin: 0 10px 0 15px !important;
}
.owl-style3 .owl-nav [class*="owl-"] i{
	font-size: 18px;
}
.owl-nav [class*="owl-"] i{
	font-size: 36px;	
	line-height: 36px;
}
/* banner-ourbrands */
.banner-ourbrands .item img{
	display: inline-block;
}
.banner-ourbrands{
	padding: 50px 0;
}
.banner-ourbrands .owl-carousel .owl-item:not(:hover) img{
	opacity: .3;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.banner-ourbrands .owl-carousel .owl-item{
	padding: 0;
}
.banner-ourbrands .module-title{
	display: none;
}
.banner-ourbrands .owl-item.active{
	position: relative;
}
/* breadcrumbs */
.breadcrumb{
	padding: 90px 0 0;
	margin: 0 0 85px 0;
	background: none;
	display: inline-block;
	border-radius: 0;
}
.breadcrumb  .heading-title{
	font-size: 48px;
	letter-spacing: -.025em;
	text-transform: capitalize;
	margin: 0 0 13px 0;
}
.breadcrumb  a:hover{
	color: #e53131;
}
.breadcrumb > li + li::before,
.breadcrumb a{
	color: #a4a4a4;
	text-transform: capitalize;
	font-size: 13px;
}
.breadcrumb > li + li::before{
	content: "/";
	padding: 0 6px;
}
.common-home .breadcrumbs{
	display: none;
}
.breadcrumbs{
	clear: both;
	background: url('../image/bg-breadcrumb.jpg') center no-repeat;
	text-align: center;
	margin-bottom: 60px;
	border-top: 1px solid #ebebeb;
}
/* product detail */
.block-1{
	margin-bottom: 30px;
}
.block-1 .thumbnail{
	padding: 0;
	border-radius: 0;
	border: none !important;
	margin: 0;	
}
.additional-images { margin: 10px 0 0; padding: 0 60px }
.image-additional-container .thumbnail{
	opacity: .2
}
.image-additional-container{
	padding: 0 85px;
}
.image-additional-container .current-additional.thumbnail,
.image-additional-container .thumbnail:hover{
	opacity: 1;
}
.additional-images .owl-item .item.current{
	border: 2px solid #e1e1e1;
}
.product-quickview .block-2 .product-name{
	padding-right: 40px;
}
.block-2 .product-name{
	margin: 0;
	font-size: 24px;
	font-weight: 600;
	color: #242424;
	text-transform: capitalize;
}
.block-2 .product-name + p{
	margin: 10px 0 0;
}
.block-2 .product-name + p a{
	text-transform: capitalize;
}
.block-2 .ratings .rating-box{
	display: inline-block;
}
.block-2 .ratings .rating-box div[class^="rating"]{
    background-position: left;
}
.block-2 .ratings span,
.block-2 .ratings a{
	font-size: 11px;
	/* color: #a5a5a5; */
	vertical-align: bottom;
}
.block-2 .ratings a{
	margin: 0 10px
}
.block-2 .ratings{
	margin: 15px 0 20px;
	display: block;
}
.block-2 .list-unstyled hr{
	color: #ebebeb;
}
.block-2 .list-unstyled{
	color: #747474;
	clear: both;
	font-size: 14px;
	text-transform: capitalize;
}
.block-2 .price-product .new-price{
	margin-right: 10px;
}
.block-2 .price-product .old-price{
	font-size: 18px;
	color: #a4a4a4;
	text-decoration: line-through;
}
.block-2 .price-product .price-old{
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #a4a4a4;
}
.block-2 .price-product{
	font-size: 18px;
	color: #242424;
	margin-bottom: 25px;
	font-weight: 600;
}
.block-2 .ex-text{
	color: #e53131;
	margin-left: 5px;
	font-weight: 400;
}
.block-2 .short-des{
	margin: 25px 0 30px;
	color: #555555;
	line-height: 24px;
	font-size: 14px;
}
#input-quantity2, #minus2, #plus2,
#input-quantity, #minus, #plus {
    display: inline-block;
    height: 24px;
    border: none;
    box-shadow: none;
    text-align: center;
    width: 28px;
    font-size: 20px;
    border-radius: 0px;
	border: none;
	background: none;
	padding: 0;
	color: #616161;
	font-size: 12px;
}
#plus2, #plus {
	border-bottom: 1px solid #ebebeb;
}
#input-quantity2,
#input-quantity {
    width: 50px;
	height: 48px;
	float: left;
	border-right: 1px solid #ebebeb;
	color: #242424;
	font-size: 14px;
}
label[for='input-quantity']{
	float: left;
	line-height: 50px;
	margin-right: 30px;
	color: #2c2c2c;
	font-weight: 400;
}
#button-cart2 i,
#button-cart i{
	font-size: 24px;
	display: none;
}
#button-cart2,
#button-cart{
	margin: 0px 0px 20px 10px;
	float: left;
	height: 50px;
	padding: 0 100px;
	border-radius: 2px;
	background: #242424 !important;
	text-transform: capitalize;
	font-size: 13px;
	color: #fff !important;
}
#button-cart2:hover,
#button-cart:hover{
	background: #e53131 !important;
	color: #fff !important;
}
.btn-actions{
	float: left;
	margin: 0px 0 20px 0;
}
.btn-actions button:not(:last-child){
	margin-right: 20px;
}
.btn-actions button.btn-compare, 
.btn-actions button.btn-wishlist {
    border: none;
	color: #747474;
	font-size: 13px;
	padding: 0;
}
.btn-actions button.btn-compare:hover, 
.btn-actions button.btn-wishlist:hover {    
    background-color: transparent !important;
	color: #e53131;
}
.btn-actions button.btn-compare:hover i, 
.btn-actions button.btn-wishlist:hover i{
	color: #e53131;
}
.btn-actions button.btn-compare i, 
.btn-actions button.btn-wishlist i{
	color: #292929;
	font-size: 14px;
	margin-right: 10px;
}
#product2,
#product{
	clear: both;
}
.has-option{
	max-height: 300px;
	overflow: auto;
	border: 1px solid #e1e1e1;
	padding: 0 20px;
	margin-top: 20px;
}
.option-container + div{
	margin: 35px 0 0;
}
.quantity-box{
	border-radius: 2px;
	width: 80px;
	border: 1px solid #ebebeb;
	float: left;
	margin-bottom: 10px;
}
.block-3{
	padding: 0;
}
.block-3 .tab-content{
	padding: 40px 0px 85px;
	margin-bottom: 90px;
	border-bottom: 1px solid #ebebeb;
}
#tab-review #review i{
	color: #f9ba48;
}
#tab-review #review{
	max-height: 300px;
	overflow: auto;
}
.block-3 .tab-content .tab-pane #review,
.block-3 .tab-content .tab-pane:not(#tab-review){
	max-height: 300px;
	overflow: auto;
	padding: 0;
	line-height: 24px;
	color: #555555;
}
.block-3 .tab-content .tab-pane#tab-review{
	padding: 0 25px;
}
.block-3 .nav-tabs{
	margin: 75px 0 0 0;
	border: none;
	position: relative;
	text-align: center;
}
.block-3 .nav-tabs li:hover a,
.block-3 .nav-tabs li.active a{
	color: #484848;
	background: none !important;
}
.block-3 .nav-tabs li a{
	color: #aaaaaa;
	border-radius: 0px;
	margin: 0;
	padding: 0px 25px;
	background: none !important;
	font-size: 24px;
	font-weight: 600;
	text-transform: capitalize;
	border: none !important;
	letter-spacing: -.025em;
}
.block-3 .nav-tabs li{
	display: inline-block;	
	float: none;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action]{
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget td span:hover{
	background: none !important;
}
.bootstrap-datetimepicker-widget td span{
	height: 40px !important;
	line-height: 40px !important;
	margin: 0px !important;
}
.alert.alert-success{
	text-align: center;
	font-size: 14px;
	margin: 0;
}
.account-login .well{
	background: none;
	box-shadow: none;
}
.information-contact form .required{
	margin-bottom: 20px;
}
.bootstrap-datetimepicker-widget a[data-action] {
    border: none;
	height: auto;
}
.box-timer .countdown-period{
	display: block;
	color: #404040;
	font-size: 13px;
	font-weight: 400;
}
.box-timer .countdown-section .countdown-amount{
	color: #232323;
	font-weight: 600;
	font-size: 18px;
	padding: 0 0 7px 0;
	border-bottom: 1px solid #ededed;
	margin-bottom: 7px;
	display: block;
}
.box-timer .countdown-section{
	display: inline-block;
	border-radius: 2px;
	border: 2px solid #ebebeb;
	background: none;
	height: 85px;
	width: 70px;
	padding: 15px;
	margin: 0 10px;
	text-align: center;	
	background: #fff;
}
.box-timer{
	text-align: center;
}
/* footer */
#back-top:hover{
	background: rgba(230, 46, 4, 1)
}
#back-top{
	position: fixed;
	bottom: 30px;
	right: 20px;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background: rgba(230, 46, 4, .8);
	text-align: center;
	cursor: pointer;
	z-index: 999;
}
#back-top i{
	font-size: 20px;
	line-height: 50px;
	color: #fff;
}
body:not(.common-home) footer{
	margin-top: 100px;
}
footer{
	background: #222222;
}
.title-footer{
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	margin: 0px 0 30px;
}
.col-f ul li a:hover{
	color: #e53131
}
.col-f ul li a{
	color: #999999;
	line-height: 30px;
	font-size: 14px;
}
.top-footer{
	padding: 80px 0;
	border-bottom: 1px solid rgba(255,255,255,.1);
}
.top-footer ul{
	margin: 0;
}
.col-f li a{
	color: #999999;
	line-height: 24px;
}
.bottom-footer{
	padding: 20px 0;
}
.copyright-text a{
	color: #999999;
}
.copyright-text{
	color: #999999;
	line-height: 30px;
	text-transform: capitalize;
	margin: 0;
}
.payment{
	text-align: center;
}
.payment-img{
	float: right;
}
.category-module{
	margin-bottom: 30px;
}
.category-module h3{
}
.category-module ul ul{
	padding-left: 20px;
}
.category-module ul {
    margin: 0;
}
.category-module li{}
.category-module li a.active{
	color: #e53131
}
.category-module li a{}
.category-module li{
	padding: 8px 0;
	display: block;
	text-transform: capitalize;
	color: #7a7a7a;
	font-size: 14px;
}
.related-products{
	clear: both;
}
.related-products  .product-des{
	display: none;
}
.featured-cat-thumb .owl-theme .owl-nav [class*="owl-"]{
	top: -67px;
	margin-right: -300px;
	border: 1px solid #cbcbcb !important;
}
.featured-cat-thumb{
	margin: 55px 0 60px;
}
.featured-categories-container .featured-categories-contents{
	padding: 0;
	width: 48.68%
}
.featured-cat-thumb .module-title{
	margin: 0 0 35px 0;
}
.featured-categories-container .row{
	margin: 0;
}
.featured-categories-container .module-image{
	padding: 0;
	width: 25.66%;
	border: 1px solid rgba(0,0,0,.1);
	float: left;
}
.featured-categories-container .module-image.module-image2{
	float: right;
}
.owl-featured-categories .fcategory-content:last-child .content-thumb{
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.owl-featured-categories .content-thumb:hover img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.owl-featured-categories .content-thumb{
	border-top: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
	text-align: center;
}
.owl-featured-categories .content-thumb .name{
	display: none;
}
/* custom-category */
.products-container .two-items:nth-child(2n+1),
.products-container .three-items:nth-child(3n+1),
.products-container .four-items:nth-child(4n+1),
.products-container .five-items:nth-child(5n+1){
	clear: both;
}
.custom-category .product-grid  .product-des{
	display: none;
}
.toolbar{
	position: relative;
	float: left;
	width: calc(100% - 15px );
	margin-bottom: 5px;
}
.toolbar::before{
}
.toolbar .btn:hover,
.toolbar .btn.active{
	color: #242424;
	background: none;
}
.toolbar .btn.btn-list i{
	font-size: 0;
}
.toolbar .btn.btn-list.active,
.toolbar .btn.btn-list:hover{
	background: url('../image/btn-list.png') no-repeat 0 0;
}
.toolbar .btn.btn-list{
	background: url('../image/btn-list.png') no-repeat 0 100%;
	margin-right: 0;
}
.toolbar .btn{
	width: 16px;
	height: 16px;
	color: #dbdbdb;
	border: none;
	background: #fff;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	margin: 0 20px;
	font-size: 14px;
	line-height: 16px;
}
.toolbar .form-group > *{
	margin: 0;
	height: 16px;
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	font-size: 14px;
	color: #242424;
	line-height: 1;
}
.toolbar .form-group select{
	border: none;
	margin-left: 10px;
	text-align: center;
}
.toolbar .form-group{
	margin: 0;
	height: 16px;
	color: #404040;
}
.toolbar.toolbar-bottom .text-right{
	margin: 10px 0 0;
}
.toolbar.toolbar-bottom{
	margin: 35px 0 0;
	padding-right: 0;
}
.pagination{
	margin: 0;
	display: block;
}
.pagination > li.active > span, .pagination > .active > a, 
.pagination > .active > a:focus, .pagination > .active > a:hover, 
.pagination > .active > span, .pagination > .active > span:focus, 
.pagination > .active > span:hover, .pagination > li > a:focus, 
.pagination > li > a:hover, .pagination > li > span:focus, 
.pagination > li > span:hover {
    background-color: #e53131 !important;
    color: #FFF !important;
}
.pagination > li > a, .pagination > li > span{
	border: none;
	border-radius: 100% !important;
	background: #f1f1f1 !important;
	color: #242424 !important;
	font-size: 13px;
	padding: 0 5px;
	margin: 0 3px;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
}
.custom-category .products-container{
	margin: 0 -15px;
}
.custom-category .product-layout{
	/* padding: 0 5px; */
}
.custom-category .product-list .price{
	min-height: auto;
}
.custom-category .product-list .btn-compare,
.custom-category .product-list .btn-wishlist{
	max-width: 100px;
	height: 40px;
	display: inline-block;
}
.custom-category .product-list .action-link2 button{
	float: left;
}
.custom-category .product-list .action-link2 button:not(:last-child){
}
.custom-category .product-list .btn-cart{
	padding-right: 20px;
}
.custom-category .product-list .product-name{
	margin: 20px 0 10px;
}
.custom-category .product-list .product-name a{
	color: #363636;
	font-size: 20px;
	font-weight: 700;
}
.custom-category .product-list:not(:first-child) .product-thumb::before{
	content: "";
	position: absolute;
	background: #ebebeb;
	height: 1px;
	left: 15px;
	right: 15px;
	width: calc(100% - 30px);
	top: 0;
}
.custom-category .product-list:first-child .product-thumb{
	padding: 15px 0 35px 0;
}
.custom-category .product-list .product-thumb{
	margin: 0 -15px;
	padding: 35px 0;
	position: relative;
}
.custom-category .product-grid .product-thumb{
	margin: 25px 0;
}
.txt-shopping-link:hover{
	color: #fff;
	background: #242424;
}
.txt-shopping-link{
	background: #df2121;
	font-size: 14px;
	font-weight: 500;
	border-radius: 3px;
	line-height: 50px;
	padding: 0 50px;
	display: inline-block;
	color: #fff;
}
.price-countdown{
	margin: 0;
}
.price-countdown .box-timer{
	margin-bottom: 65px;
}
.price-countdown .product-des{
	margin-bottom: 35px;
}
.price-countdown .product-customize .price .price-old{
	font-size: 14px;
	color: #a4a4a4;
}
.price-countdown .product-customize .price{
	font-size: 18px;
	font-weight: 600;
	color: #242424;
	margin-bottom: 30px;
}
.price-countdown .product-customize .image{
	width: 46%;
	padding-right: 30px;
	float: left;
}
.price-countdown .product-customize .actions-link2{
	display: none;
}
.price-countdown .product-customize .ratings .rating-box div[class^="rating"] {
    background-position: center;
	display: inline-block;
	margin-bottom: 22px;
}
.price-countdown .product-customize .product-inner .product-name{
	color: #242424;
	font-weight: 600;
	font-size: 18px;
}
.price-countdown .product-customize .product-inner{
	width: 54%;
	float: left;
	padding: 60px 40px;
	text-align: center;
}
/* responsive */
@media(max-width: 1024px){
	.b-modal,
	.newletter-popup{
		display: none !important;
	}
	.logo-container{
		text-align: center;
	}
	#logo a{
		display: inline-block;
	}
	.middle-header .block-right{
		justify-content: space-between;
	}
	.owl-nav > .owl-prev{
		left: 0px;
	}
	.owl-nav > .owl-next {
		right: 0px;
	}
	.newletter-subscribe-container{
		padding: 70px 0;
	}
	.static-link{
		text-align: left;
	}
	.banner-1 .cols:last-child{
		margin-bottom: 50px;
	}
	.banner-1 .text-content{
		top: 20px;
		left: 35px;
	}
	.banner-1 .text-content h4{
		font-size: 18px;
	}
	.banner-1 .text-content h5{
		font-size: 14px;
	}
	#dialog-normal .newletter-title{
		font-size: 30px;
	}
	#dialog-normal .newsletter-des{
		margin: 0 0 40px 0;
	}
	.newletter-subscribe-container{
		margin-bottom: 50px;
	}
	#blog_home{
		margin-bottom: 45px;
		padding-top: 50px;
	}
	.static-policy .col:last-child{
		margin-bottom: 50px;
	}
	.price-countdown .product-customize .product-inner{
		padding: 30px 20px;
	}
	.box-timer .countdown-section{
		width: 50px;
		padding: 15px 5px;
		margin: 0 2px;
	}
	.breadcrumb{
		margin-bottom: 40px;
		padding-top: 45px;
	}
	.breadcrumb .heading-title{
		font-size: 30px;
	}
	.block-3 .tab-content{
		margin-bottom: 50px;
	}
	.module-title h2{
		font-size: 30px;
	}
	body:not(.common-home) footer {
		margin-top: 50px;
	}
	.middle-header{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.middle-header .block-right,
	#logo{
		padding: 0 15px;
	}
}
@media(max-width: 991px){
	.products-container .two-items:nth-child(2n+1),
	.products-container .three-items:nth-child(3n+1),
	.products-container .four-items:nth-child(4n+1),
	.products-container .five-items:nth-child(5n+1){
		clear: none;
	}
	.products-container .product-grid.item-inner{
		width: 50%;
	}
	.products-container .item-inner:nth-child(2n+1) {
		clear: both;
	}
	.toolbar > div:nth-child(2n+1){
		clear: both;
	}
	#button-cart2, #button-cart{
		padding: 0 30px;
	}
	.static-policy .col-inner{
		display: block;
	}
	.static-policy .text-content{
		padding: 0;
		margin-top: 10px;
		text-align: center;
	}
	.toolbar .btn-group{
		margin-bottom: 10px;
	}
	.toolbar .btn.btn-grid-2.active,
	.toolbar .btn.btn-grid-2:hover{
		background: url('../image/btn-grid.png') no-repeat 0 0;
	}
	.toolbar .btn.btn-grid-2{
		background: url('../image/btn-grid.png') no-repeat 0 100%;
		color: transparent;
	}
}
@media(max-width: 767px){
	input[name^="quantity["]{
		min-width: 40px;
		padding: 0;
		text-align: center;
	}
	.top-footer{
		padding: 80px 0 50px;
	}
	.top-footer .col-f:nth-child(2n+1){
		clear: both;
	}
	.top-footer .col-f{
		width: 50%;
		float: left;
		margin-bottom: 30px;
	}
	.static-link,
	.bottom-footer{
		text-align: center;
	}
	.banner-1 .cols{
		text-align: center;
	}
	.banner-1 .col-img{
		position: relative;
		display: inline-block;
	}
	.top-header #top > ul,
	.top-header{
		text-align: center;
	}
	#top,
	.top-banner{
		float: none;
	}
	.top-header #top > ul li .dropdown-menu{
		right: 50%;
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		-o-transform: translateX(50%);
		transform: translateX(50%);
	}
}
@media(max-width: 640px){
	.price-countdown .product-customize .product-inner{
		width: 100%;
	}
	.price-countdown .product-customize .image{
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}
	.price-countdown .product-customize .image img{
		width: 100%;
	}
}
@media(max-width: 560px){
	.products-container .product-grid.item-inner{
		width: 100%;
	}
	.products-container .image{
		margin-bottom: 10px;
	}
	.products-container .image,
	.products-container .product-inner{
		width: 100%;
		padding: 0 15px !important;
	}
}
@media(max-width: 480px){
	#cart .dropdown-menu{
		min-width: 300px;
	}
	.owl-dots,
	.owl-nav{
		display: none !important;
	}
	#dialog-normal .newletter-title {
		font-size: 20px;
	}
	#subscribe_email{
		padding: 0 20px;
	}
	#subscribe .btn{
		position: static;
		border-radius: 5px;
		margin-top: 10px;
	}
	.top-footer .col-f{
		width: 100%;
	}
}