{% if modules or use_layered %}
<aside id="column-left" class="col-sm-12 col-md-3">
	{% if use_layered %}
		{{ layered_section }}
	{% endif %}
	{% for module in modules %}
		{{ module }}
	{% endfor %}
</aside>
{% endif %}
