<footer>
	<div class="top-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-f">
					{% if block3 %}
						{{ block3 }}
					{% endif %}
				</div>
				{% if informations %}
				<div class="col-sm-3 col-f">
					<h5 class="title-footer">{{ text_information }}</h5>
					<ul class="list-unstyled">
						{% for information in informations %}
							<li><a href="{{ information.href }}">{{ information.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				<div class="col-sm-3 col-f">
					<h5 class="title-footer">{{ text_account }}</h5>
					<ul class="list-unstyled">
						<li><a href="{{ contact }}">{{ text_contact }}</a></li>
						<li><a href="{{ return }}">{{ text_return }}</a></li>
						<li><a href="{{ account }}">{{ text_account }}</a></li>
						<li><a href="{{ order }}">{{ text_order }}</a></li>
						<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
						<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
					</ul>
				</div>
				<div class="col-sm-3 col-f">
					{% if block4 %}
						{{ block4 }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>		
	<div class="bottom-footer">
		<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<p class="copyright-text">{{ powered }}</p>
			</div>
			{% if block5 %}
				<div class="col-sm-7">
					{{ block5 }}
				</div>	
			{% endif %}
		</div>		
		</div>		
	</div>
	<div id="back-top"><i class="fa fa-angle-up"></i></div>
</footer>
<script type="text/javascript">
$(document).ready(function(){
	// hide #back-top first
	$("#back-top").hide();
	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 300) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});
		// scroll body to 0px on click
		$('#back-top').click(function () {
			$('body,html').animate({scrollTop: 0}, 800);
			return false;
		});
	});
});
</script>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>