{% if reviews %}
{% for review in reviews %}
<table class="table table-striped table-bordered">
  <tr>
    <td style="width: 50%;"><strong>{{ review.author }}</strong></td>
    <td class="text-right">{{ review.date_added }}</td>
  </tr>
  <tr>
    <td colspan="2"><p>{{ review.text }}</p>
		{% if review.rating>=0 %}
		<div class="ratings">
			<div class="rating-box">
			{% for i in 0..5 %}
				{% if review.rating == i %}
				{% set class_r = "rating"~i %}
				<div class="{{ class_r }}">rating</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>					
		{% endif %}
	</td>
  </tr>
</table>
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %} 