{% if products %}
    <div class="row">
	<div class="toolbar">
        <div class="col-md-4 col-sm-6 hidden-xs">
            <div class="btn-group btn-group-sm">
                {% if use_custom_view %}
                    <button type="button" onclick="category_view.changeView('grid', 2, 'btn-grid-2')" class="btn btn-default btn-custom-view btn-grid-2" data-toggle="tooltip" title="2">2</button>
                    <button type="button" onclick="category_view.changeView('grid', 3, 'btn-grid-3')" class="btn btn-default btn-custom-view btn-grid-3" data-toggle="tooltip" title="3">3</button>
                    <button type="button" onclick="category_view.changeView('grid', 4, 'btn-grid-4')" class="btn btn-default btn-custom-view btn-grid-4" data-toggle="tooltip" title="4">4</button>
                    <!-- <button type="button" onclick="category_view.changeView('grid', 5, 'btn-grid-5')" class="btn btn-default btn-custom-view btn-grid-5" data-toggle="tooltip" title="5">5</button> -->
                    <button type="button" onclick="category_view.changeView('list', 0, 'btn-list')" class="btn btn-default btn-custom-view btn-list" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
                    <input type="hidden" id="category-view-type" value="{{ category_view }}" />
                    <input type="hidden" id="category-grid-cols" value="{{ grid_columns }}" />
                {% else %}
                    <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
                    <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
                {% endif %}
            </div>
        </div>
		<div class="col-md-2 col-xs-6"></div>
        <div class="col-md-3 col-xs-6">
            <div class="form-group input-group input-group-sm">
                {% if use_layered %}
                    <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                    <select id="input-sort" class="form-control" onchange="ocfilter.filter(this.value);">
                        {% for sorts in ajax_sorts %}
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                            {% else %}
                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                        {% for sorts in sorts %}
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                            {% else %}
                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="form-group input-group input-group-sm">
                {% if use_layered %}
                    <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                    <select id="input-limit" class="form-control" onchange="ocfilter.filter(this.value);">
                        {% for limits in ajax_limits %}
                            {% if limits.value == limit %}
                                <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                            {% else %}
                                <option value="{{ limits.href }}">{{ limits.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                        {% for limits in limits %}
                            {% if limits.value == limit %}
                                <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                            {% else %}
                                <option value="{{ limits.href }}">{{ limits.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    <div class="row products-container"> {% for product in products %}
            <div class="product-layout product-list col-xs-12 item-inner">
                <div class="product-thumb">
                    {% if image_effect == 'swatches' %}
                        <div class="image swatches-image-container">
                            <a href="{{ product.href }}">
                                <img src="{{ product.thumb }}"  alt="{{ product.name }}" title="{{ product.name }}"
                                     class="img-responsive img-cate-{{ product.product_id }}" />
                                <input type="hidden" value="{{ product.thumb }}" class="img-default-{{ product.product_id }}" />
                                {% if product.swatches_images %}
                                    {% for s_image in product.swatches_images %}
                                        <input type="hidden" value="{{ s_image.image }}" class="img-swatch-{{ product.product_id }}-{{ s_image.product_option_value_id }}" />
                                    {% endfor %}
                                {% endif %}
                            </a>
                            <div class="actions-link">
								<button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="icon-shopping-basket"></i><span>{{ button_cart }}</span></button>
								<button class="btn-compare" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="icon-sliders"></i><span>{{ button_compare }}</span></button>
								<button class="btn-wishlist" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="icon-heart"></i><span>{{ button_wishlist }}</span></button>
								{% if use_quickview %}
								<button class="btn-quickview" type="button" data-toggle="tooltip" title="{{ button_quickview }}" onclick="ocquickview.ajaxView('{{ product.href }}')"><i class="icon-eye"></i><span>{{ button_quickview }}</span></button>
								{% endif %}
							</div>
							<div class="category-options">
								{% if product.options %}
									{% for option in product.options %}
										<ul class="ul-swatches-colors">
											{% for option_value in option.product_option_value %}
												<li class="swatches-options">
													<a href="javascript:void(0);" onclick="swatches.changeSwatchInCategory($(this));" title="{{ option_value.name }}"
													   style="{% if option_value.image %} width: {{ icon_swatches_width }}px; height: {{ icon_swatches_height }}px;
																background-image: url('{{ option_value.image }}') {% endif %}"
													   data-product-id="{{ product.product_id }}"
													   data-product-option-value-id="{{ option_value.product_option_value_id }}">{% if not option_value.image %} {{ option_value.name }} {% endif %}</a>
												</li>
											{% endfor %}
										</ul>
									{% endfor %}
								{% endif %}
							</div>
                        </div>
                    {% else %}
                        <div class="image rotate-image-container">
                            <a href="{{ product.href }}">
                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive img-default-image" />
                                {% if product.rotate_image %}
                                    <img src="{{ product.rotate_image }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive img-rotate-image" />
                                {% endif %}
                            </a>
                            <div class="actions-link">
								<button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="icon-shopping-basket"></i><span>{{ button_cart }}</span></button>
								<button class="btn-compare" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="icon-sliders"></i><span>{{ button_compare }}</span></button>
								<button class="btn-wishlist" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="icon-heart"></i><span>{{ button_wishlist }}</span></button>
								{% if use_quickview %}
								<button class="btn-quickview" type="button" data-toggle="tooltip" title="{{ button_quickview }}" onclick="ocquickview.ajaxView('{{ product.href }}')"><i class="icon-eye"></i><span>{{ button_quickview }}</span></button>
								{% endif %}
							</div>
                        </div>
                    {% endif %}
                    <div class="product-inner">
						<div class="product-caption">
							{% if product.manufacturer %}
							<p class="manufacture-product">
								<a href="{{ product.manufacturers }}">{{ product.manufacturer }}</a>
							</p>
							{% endif %}
							<h4 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
							<h4 class="product-name none-grid"><a href="{{ product.href }}">{{ product.name_list }}</a></h4>
							<p class="product-des">{{ product.description }}</p>
							<div class="price-ratings">
							{% if product.price %}
								<p class="price"> {% if not product.special %}
										{{ product.price }}
									{% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
									{% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
							{% endif %}
							{% if product.rating %}
								<div class="ratings">
									<div class="rating-box"> 
									{% for i in 0..5 %}
										{% if product.rating == i %}
										{% set class_r = "rating"~i %}
										<div class="{{ class_r }}">rating</div>
										{% endif %}
									{% endfor %} 
									</div>
								</div>
							{% endif %}
							</div>
						</div>
						<div class="product-intro">
							<div class="actions-link2">
								<button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="icon-shopping-basket"></i><span>{{ button_cart }}</span></button>
								<button class="btn-compare" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="icon-sliders"></i><span>{{ button_compare }}</span></button>
								<button class="btn-wishlist" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="icon-heart"></i><span>{{ button_wishlist }}</span></button>
								{% if use_quickview %}
								<button class="btn-quickview" type="button" data-toggle="tooltip" title="{{ button_quickview }}" onclick="ocquickview.ajaxView('{{ product.href }}')"><i class="icon-eye"></i><span>{{ button_quickview }}</span></button>
								{% endif %}
							</div>
						</div>
					</div>
                </div>
            </div>
        {% endfor %} </div>
    <div class="row">
		<div class="toolbar">
			{% if use_layered %}
				<div class="col-sm-6 text-left ajax_pagination">{{ ajax_pagination }}</div>
			{% else %}
				<div class="col-sm-6 text-left">{{ pagination }}</div>
			{% endif %}
			<div class="col-sm-6 text-right">{{ results }}</div>
		</div>
    </div>
{% endif %}
{% if not categories and not products %}
    <p>{{ text_empty }}</p>
    <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
    </div>
{% endif %}

<script type="text/javascript">
    // Product List
    $('#list-view').click(function() {
        $('#content .product-grid > .clearfix').remove();

        $('#content .row > .product-grid').attr('class', 'product-layout product-list col-xs-12');
        $('#grid-view').removeClass('active');
        $('#list-view').addClass('active');
		
		$('.products-container .image').addClass('col-xs-4');
		$('.products-container .product-inner').addClass('col-xs-8');
		$('.products-container .product-thumb').addClass('row');

        localStorage.setItem('display', 'list');
    });

    // Product Grid
    $('#grid-view').click(function() {
        var cols = $('#column-right, #column-left').length;

        if (cols == 2) {
            $('#content .product-list').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12 two-items');
        } else if (cols == 1) {
            $('#content .product-list').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12 three-items');
        } else {
            $('#content .product-list').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12 four-items');
        }

        $('#list-view').removeClass('active');
        $('#grid-view').addClass('active');
		
		$('.products-container .image').removeClass('col-xs-4');
		$('.products-container .product-inner').removeClass('col-xs-8');
		$('.products-container .product-thumb').removeClass('row');

        localStorage.setItem('display', 'grid');
    });
</script>