.layered-container{
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}
.layered-container .panel{
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
}
.layered-navigation-block { display: none; background-color : black; height : 100%; opacity : 0.35; position : fixed; top : 0; left: 0; width : 100%; z-index : 900; }
.ajax-loader { display: none; z-index: 1000; position: fixed; top: 50%; left: 50%; }
.layered-heading { 
	font-size: 24px;
	font-weight: 900;
	color: #fff !important;
	text-transform: capitalize;
	background: #e53131 !important;
	padding: 16px 15px;
	border-radius: 5px;
	border: none;
}
.layer-category .list-group-item { border: 0 !important;}
.layer-category .list-group a { display: inline-block; }
.filter-attribute-container {}
.filter-attribute-container:last-child { border-bottom: 0; }
.filter-attribute-container .remove-filter { position: absolute; right: 0px; top: 50%; margin-top: -7px; font-size: 0; width: 15px; height: 15px; padding: 0; background: url(../../../../image/remove-icon.png) no-repeat;   border: 0; }
.filter-attribute-container .filter-clear-all { text-align: right; }
.filter-attribute-container .filter-clear-all .clear-filter { background: none; color: #23a1d1; }
.filter-attribute-container .filter-clear-all .clear-filter:hover { background: none; color: #2a6496; }
.filter-attribute-container.filter-attribute-remove-container .list-group-item{ margin: 10px 0 !important;}
.filter-attribute-container.filter-price .list-group-item {
	padding: 0 12px;
}
.filter-attribute-container .list-group-item { background: none; padding: 0; border: none; overflow: hidden; position: relative;
border-bottom: 1px solid #e1e1e1 !important;
padding-bottom: 30px !important;
margin-bottom: 35px !important;
border-radius: 0;}
.filter-attribute-container .list-group-item p {  margin: 0; }
.filter-attribute-container .list-group-item .filter-price .input-price {  width: 50px; margin: 0 0px 0 0; border: none; background: none;}
.filter-attribute-container .list-group-item .filter-price .input-price:hover { cursor: not-allowed; }
.filter-attribute-container .list-group-item .filter-price #slider-price { margin: 10px 0px 0px; border-radius: 0; }
.filter-attribute-container .list-group-item .filter-price .slider-values { padding: 5px 0; text-align: center; font-size: 14px; color: #242424;  margin: 10px -15px 0;}
.filter-attribute-container .list-group-item .filter-price .slider-values span { margin: 0 0 0 10px; }
.list-group .filter-attribute-container a { border: 0; }
.layernavigation-container h3{
    margin-bottom: 30px;
}
.layered{
    /* padding: 35px 0; */
}
.layered .list-group .filter-attribute-container:last-child  .list-group-item{
	/* margin-bottom: 0 !important; */
}
.layered .list-group{
    margin-bottom: 0px;
}
.filter-attribute-remove-container div{
    padding: 10px 0;
    font-size: 12px;
}
.filter-attribute-remove-container .filter-act-name span:hover{
    color: #e53131;
}
.filter-attribute-container{
}
.filter-prices .list-group-item{
	margin: 0 !important;
}
.filter-price{
	padding: 0 15px;
}
.filter-prices{
	background: #f6f6f6;
	margin: 0 -15px 45px;
	padding: 30px 15px;
	border-bottom: 1px solid #ebebeb;
}
.filter-attribute-container label{
    color: #242424;
	font-size: 20px;
	font-weight: 600;
	text-transform: capitalize;
	width: 100%;
	padding: 0px;
	margin-bottom: 25px;
	line-height: 24px;
}
#slider-price.ui-slider-horizontal{
    height: 5px;
}
#slider-price .ui-widget-header{
	background: #e53131;
}
#slider-price.ui-widget-content{
    background: #dbdbdb;
	border-radius: 0px !important;
    border: none !important;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, 
.ui-widget-header .ui-state-default:hover{
	cursor: pointer
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #e53131;
    border: none;
}
.ui-slider .ui-slider-handle{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    top: -4px;
	background: #fff;
	display: inline-block;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.filter-attribute-container .list-group-item a:not(.remove-filter):last-child{
    background: none;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):hover{
	color: #e53131;
}
.filter-attribute-container .list-group-item a:not(.remove-filter) i{
	margin: 0 15px 0 1px;
	font-size: 8px;
	color: #c8c8c8;
	vertical-align: middle;
}
.filter-attribute-container .list-group-item a:not(.remove-filter){
	display: block;
	text-transform: capitalize;
	color: #242424;
	font-size: 14px;
	padding: 9px 0;
}
@media(max-width: 1024px){
	.layered{
	}
}