.icon-has_child{
	font-size: 1em;
}
.oc-menu a{
	text-decoration: none;
	display: block;
}
.oc-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.oc-menu .sub-menu-container{
	z-index: 1000;
	display: none;
}
.oc-menu .ul-top-items .li-top-item.active a i{
}
.vertical-menu.oc-menu .ul-top-items .li-top-item a i{
	color: #b8b8b8;
}
.oc-menu .ul-top-items .li-top-item a{
	display: block;
}
.sub-widget-product .a-mega-second-link{
	padding-top: 10px;
}
/* Horizontal Menu */
.horizontal-menu{
	position: relative;
	flex-grow: 1;
	background: none !important
}
.horizontal-menu .ul-top-items .li-top-item:first-child a{
	padding-left: 0 !important;
}
.horizontal-menu .ul-top-items .li-top-item.has_child:hover > a span::after,
.horizontal-menu .ul-top-items .li-top-item.has_child:hover > a span::before{
	opacity: 1;
}
.horizontal-menu .ul-top-items .li-top-item.has_child > a span::after{

}
.horizontal-menu .ul-top-items .li-top-item.has_child > a span::before{

}
.horizontal-menu .ul-top-items .li-top-item.has_child > a span{
	position: relative;
}
.horizontal-menu .ul-top-items .li-top-item{
	display: block;
	margin: 0;
	background: none !important;
}
.horizontal-menu .ul-top-items .li-top-item.right{
	float: right;
	position: relative;
	text-align: right;
}
.horizontal-menu .ul-top-items .li-top-item.mega-right{
	float: right;
	text-align: right;
}
.horizontal-menu .ul-top-items .li-top-item .a-top-link .fa{
	margin-left: 5px;
}
.horizontal-menu .ul-top-items .li-top-item.right .a-top-link .fa,
.horizontal-menu .ul-top-items .li-top-item.mega-right .a-top-link .fa{
	float: left;
	line-height: inherit;
	margin-left: 0;
	margin-right: 10px;
}
.horizontal-menu .mega-menu-container{
	position: absolute;
	top: 100%;
	border: 1px solid #ebebeb;
}
.horizontal-menu .mega-menu-container-inner{
	
	float: left;
	width: 100%;
}
.horizontal-menu .ul-top-items .li-top-item .mega-menu-container.right{
	text-align: right;
}
.horizontal-menu .ul-top-items .li-top-item .mega-menu-container.left{
	text-align: left;
}
.horizontal-menu .ul-top-items .li-top-item.right .mega-menu-container{
	right: 0;
}
.horizontal-menu .ul-top-items .li-top-item .mega-menu-container.full-width{
	left: 0;
	right: 0;
	width: 100%;
}
.horizontal-menu .mega-menu-container .sub-item2-content:first-child{
}
.horizontal-menu .mega-menu-container .sub-item2-content:last-child{
}
.horizontal-menu .mega-menu-container .sub-item2-content[style^="clear"]{
	border: none;
}
.horizontal-menu .mega-menu-container .sub-item2-content:last-child{
	margin-bottom: 0;
}
.horizontal-menu .mega-menu-container .sub-item2-content{
	padding: 0 30px;
	float: left;
	border-left: 1px solid #ebebeb;
	margin-bottom: 30px;
}
.horizontal-menu .flyout-menu-container{
	width: 200px;
}
.horizontal-menu .flyout-menu-container.left .a-item .fa{
	float: right;
	line-height: inherit;
}
.horizontal-menu .flyout-menu-container.left{
	float: left;
}
.horizontal-menu .flyout-menu-container.right{
	float: right;
	right: 0;
}
.horizontal-menu .flyout-menu-container.right .a-item .fa{
	float: left;
	line-height: inherit;
}
.horizontal-menu .flyout-menu-container.right .li-second-items{
	position: relative;
}
.horizontal-menu .ul-second-items .li-second-items{
	position: relative;
}
.horizontal-menu .ul-second-items .li-second-items .a-second-link{
	padding: 10px;
}
.horizontal-menu .flyout-third-items{
	position: absolute;
	top: 0;
	display: none;
}
.horizontal-menu .flyout-third-items.left{
	left: 100%;
}
.horizontal-menu .flyout-third-items.right{
	right: 100%;
}
.horizontal-menu .ul-third-items .li-third-items .a-third-link{
	white-space: nowrap;
	padding: 10px;
}
.horizontal-menu .sub-menu-container .sub_item3-content{
}
.horizontal-menu .sub-menu-container .sub-item2-content > p,
.horizontal-menu .sub-menu-container .sub-item2-content > h4,
.horizontal-menu .sub-menu-container .a-mega-third-link h5,
.horizontal-menu .sub-menu-container .a-mega-second-link h4{
	margin: 0;
}
.horizontal-menu .sub-menu-container .a-mega-third-link h5{
	padding: 10px 0 10px 0px;
	color: #555555 !important;
	font-weight: 400;
	font-size: 0.9286em;
}
.horizontal-menu .sub-menu-container a h5:hover,
.horizontal-menu .sub-menu-container a h4:hover{
	color: #e53131 !important;
}
.horizontal-menu .sub-menu-container .sub-widget-product .a-mega-second-link h4{
	font-weight: 400;
	padding: 0;
}
.horizontal-menu .sub-menu-container .a-mega-second-link h4{
	padding: 0px 0 25px 0px;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: -.025em;
}
/* Vertical Menu */
.vertical-menu{
	position: relative;
}
.vertical-menu .oc-menu-bar{
	text-transform: uppercase;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	border-radius: 3px 3px 0 0;
}
.vertical-menu .oc-menu-bar:hover{
	cursor: pointer;
}
.vertical-menu .oc-menu-bar .left span::before{
}
.vertical-menu .oc-menu-bar .left{
	line-height: 50px;
	display: flex;
}
.vertical-menu .oc-menu-bar .left i{
	margin-right: 10px;
	line-height: 50px;
	font-size: 1.7143em;
}
.vertical-menu .oc-menu-bar .right i{
	line-height: 50px;
}
body:not(.common-home) .vertical-menu .ul-top-items{
	display: none;
}
.vertical-menu .ul-top-items{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 100;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 20px 0;
	background: #fff;
}
.vertical-menu .ul-top-items .li-over a:hover{
	color: #fed700 !important;
}
.vertical-menu .ul-top-items .li-over a{
	border-top: 1px solid #ebebeb;
	margin-top: 14px;
	color: #242424 !important;
}
.vertical-menu .ul-top-items .li-top-item{
	display: block;
	margin: 0;
	position: relative;
	padding: 0 30px;
}
.vertical-menu .ul-top-items .li-top-item .a-top-link .top-icon{
	margin-right: 8px;
	display: none;
}
.ul-top-items .li-top-item .a-top-link{
}
.vertical-menu .ul-top-items .a-item .fa{
	float: right;
	line-height: inherit;
}
.vertical-menu .ul-top-items .li-top-item.over{
	display: none;
}
.vertical-menu .li-top-item .sub-menu-container.flyout-menu-container li{
	padding: 0 30px;
}
.vertical-menu .li-top-item .sub-menu-container{
	position: absolute;
	top: 0;
	left: 100%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background: #fff;
	padding: 10px 1px;
}
.vertical-menu .flyout-menu-container{
	width: auto;
	float: left;
	width: 200px;
}
.vertical-menu .ul-second-items .li-second-items{
	position: relative;
}
.vertical-menu .ul-second-items .li-second-items .a-second-link{
	padding: 5px 0;
}
.vertical-menu .flyout-third-items li{
	padding: 0 30px;
}
.vertical-menu .flyout-third-items{
	position: absolute;
	top: 0;
	display: none;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background: #fff;
	z-index: 1;
	padding: 10px 1px;
}
.vertical-menu .flyout-third-items{
	left: 100%;
}
.vertical-menu .ul-third-items .li-third-items .a-third-link{
	white-space: nowrap;
	padding: 5px 0;
}
/* vertical - mega */
.vertical-menu .a-mega-third-link h4,
.vertical-menu .a-mega-third-link h5{
	color: #A4A4A4;
	font-size: 1em;
	font-weight: 400;
	text-transform: capitalize;
}
.vertical-menu .a-mega-second-link h4{
	font-weight: 500;
	margin-bottom: 35px;
}
.vertical-menu .a-mega-third-link:hover h5{
	color: #242424 !important;
}
.vertical-menu .a-mega-second-link h4{
	font-size: 1em;
}
/* Mobile Menu */
.mobile-menu{
	position: relative;
}
.mobile-menu .ul-top-items{
	position: absolute;
	z-index: 113;
	width: 100%;
	left: 0;
	right: 0;
	top: 100%;
	padding: 15px;
	background: #fff;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.mobile-menu .oc-menu-bar{
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
}
.mobile-menu .oc-menu-bar .left{
	float: left;
	padding: 10px 0 10px 0px;
}
.mobile-menu .oc-menu-bar .left .fa{
	margin-right: 10px;
}
.mobile-menu .oc-menu-bar .right{
	float: right;
	padding: 10px 0px 10px 10px;
}
.mobile-menu .oc-menu-bar .right:hover{
	cursor: pointer;
}
.mobile-menu .ul-top-items{
	display: none;
}
.mobile-menu .sub-menu-container{
	display: none;
}
.mobile-menu .li-top-item{
	position: relative;
}
.mobile-menu .a-click-show{
	position: absolute;
	right: 0;
	top: 0px;
	bottom: 0px;
	width: 30px;
	text-align: center;
	cursor: pointer;
}
.mobile-menu .a-click-show i{
	vertical-align: bottom;
	font-size: 0.8571em;
}
.mobile-menu .a-click-show .fa-minus{
	display: none;
}
.mobile-menu .expand > .a-click-show .fa-minus{
	display: inline-block;
}
.mobile-menu .expand > .a-click-show .fa-plus{
	display: none;
}
.mobile-menu .ul-second-items .li-second-items{
	position: relative;
}
.mobile-menu .ul-second-items .li-second-items .a-second-link{
	padding: 0 10px;
}
.mobile-menu .flyout-third-items{
	display: none;
}
.mobile-menu .ul-third-items .li-third-items .a-third-link{
	padding: 10px;
}
@media(max-width: 1024px){
	.vertical-menu .oc-menu-bar{
		padding: 0 10px;
	}
	.vertical-menu .ul-top-items{
		display: none;
		padding: 10px 0;
	}
	.vertical-menu .ul-top-items .li-top-item{
		padding: 0 15px;
	}
	.vertical-menu .ul-top-items .li-over a{
		margin: 5px 0 0;
	}
	.vertical-menu .ul-top-items .li-top-item .a-top-link{
		padding: 3px 0 !important;
	}
	.horizontal-menu .ul-top-items{
		text-align: center;
	}
	.horizontal-menu .ul-top-items .li-top-item{
		float: none !important;
		display: inline-block;
	}
}