/* none slider */
.tt-product .two_items:nth-child(2n+1),
.tt-product .three_items:nth-child(3n+1),
.tt-product .four_items:nth-child(4n+1),
.tt-product .six_items:nth-child(6n+1){
	clear: both;
}
/* general */
.multi-rows .row_items  .product-layout:not(:last-child){
	margin-bottom: 50px !important;
}
.product-list .product-name:not(.none-grid),
.product-grid .none-grid{
	display: none;
}
.product-des{
	font-size: 14px;
	color: #555555;
	line-height: 24px;
	margin-bottom: 10px;
}
.product-name{	
	font-size: 14px;	
	font-weight: 400;
	text-transform: capitalize;
	position: relative;
	margin: 0px 0 10px 0;
}
.product-name a:hover{
	color: #e53131 !important;
}
.product-name a{
	color: #555555;
	line-height: 18px;
	display: inline-block;
	letter-spacing: -.025em;
}
.list-style .actions-link,
.product-grid .actions-link2,
.product-list .actions-link{
	display: none;
}
.product-grid .actions-link{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #fff;
	z-index: 1;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	padding: 0 13px 0 20px;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.product-list .actions-link2{
	background: #fff;
	display: inline-block;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	padding: 0 13px 0 20px;
}
.list-style:hover .actions-link2,
.product-grid:hover .actions-link{
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.product-grid .actions-link button{
	background: none;
	border: none;
	padding: 0;
	box-shadow: none;
	min-height: 50px;
}
.product-list .actions-link2 button:not(.btn-cart){
	padding: 0 10px;
}
.product-list .actions-link2 button:not(.btn-cart) span,
.product-grid .actions-link button:not(.btn-cart) span,
.product-list .actions-link2 .btn-cart i,
.product-grid .actions-link .btn-cart i{
	display: none;
}
.product-list .actions-link2 .btn-cart:hover,
.product-grid .actions-link .btn-cart:hover{
	color: #e53131;
}
.product-list .actions-link2 .btn-cart,
.product-grid .actions-link .btn-cart{
	color: #222222;
	font-weight: 500;
	font-size: 14px;
}
.list-style .actions-link2{
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.06);
	background: #fff;
	padding: 0 30px;
	max-width: 155px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.list-style .actions-link2 button span{
	display: none;
}
.actions-link button:hover,
.actions-link2 button:hover{
	color: #e53131;
}
.actions-link button,
.actions-link2 button{
	color: #c3c3c3;
	padding: 0;
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	font-size: 18px;
	line-height: 50px;
}
.has-sidebar .four-items .actions-link{
	padding: 0 5px;
}
.four-items .btn-cart span{
	font-size: 13px;
}
.four-items .btn-compare i,
.four-items .btn-wishlist i{
	font-size: 14px;
}
.label-product{
	position: absolute;
	min-width: 50px;
	background: #e53131;
	border-radius: 3px;
	z-index: 1;
	color: #fff;
	text-transform: capitalize;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	top: 10px;
	left: 10px;
	padding: 0 10px;
}
.list-style .label-product + .label-product{
	display: none;
}
.label-product + .label-product{
	top: 44px;
}
.symbol-percent{
	font-weight: 400;
}
.manufacture-product{
	display: none
}
.manufacture-product a{
	color: #999999;
	font-size: 12px;
	text-transform: capitalize;
	margin: 0 0 15px 0;
	line-height: 1;
}
.price-ratings{
	display: flex;
	justify-content: space-between;
}
.ratings{
	line-height: 14px;
}
.ratings .rating-box .rating0{
	background-image: url("image/rating0.png")
}
.ratings .rating-box .rating1{
	background-image: url("image/rating1.png")
}
.ratings .rating-box .rating2{
	background-image: url("image/rating2.png")
}
.ratings .rating-box .rating3{
	background-image: url("image/rating3.png")
}
.ratings .rating-box .rating4{
	background-image: url("image/rating4.png")
}
.ratings .rating-box .rating5{
	background-image: url("image/rating5.png")
}
.ratings .text-rating{
	color: #a5a5a5;
	font-size: 14px;
	display: none;
	width: 100%;
	text-align: center;
}
.ratings .rating-box div[class^="rating"]{
	background-repeat: no-repeat;
	background-position: left;
	font-size: 0;	
	height: 14px;
	width: 82px;
}
.image > a{
	display: block;
}
.image{
}
.image > a,
.image{
	position: relative;
}
.img-r{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.product-layout .product-caption{
	position: relative;
}
.product-layout:hover .img-r + img{
	opacity: 0;
}
.product-layout:hover .img-r{
	opacity: 1;
	z-index: 0;
}
.price-container{
	position: relative;
}
.price span{
}
.price{
	color: #242424;
	margin: 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
}
.price-tax{
	display: none !important;
}
.price-new{
}
.price-old{
	color: #a4a4a4;
	text-decoration: line-through;
	font-weight: 400;
	margin-left: 10px;
}
/* product grid */
.product-customize .product-thumb .product-inner,
.product-grid .product-thumb .product-inner{
	position: relative;
	padding: 17px 0 0;
}
/* porudcut list */
.list-style:last-child{
	border: none;
	margin: 0 !important;
}
.list-style{
	margin: 0 0 30px 0;
	padding: 0 !important;
	width: 100%;
	float: left
}
.list-style .ratings .rating-box div[class^="rating"]{
	background-position: left;
}
.list-style .product-thumb{
}
.list-style .product-inner{
	width: 71%;
	float: left;
	padding: 0px 0 2px 30px;
}
.list-style .ratings{
	margin: 0 0 10px 0;
}
.list-style .price{
	margin: 0 0 10px 0;
}
.list-style .product-name{
	margin: 0 0 10px 0;
}
.list-style .image{
	width: 29%;
	float: left;
	padding: 0;
}
.product-list .price-ratings{
	margin: 15px 0 20px;
}
.product-list .ratings .rating-box div[class^="rating"]{
	margin: 0;
}
.product-list .ratings .text-rating{
	vertical-align: bottom;
	display: inline-block;	
	font-size: 14px;
}
.product-list .rating-box div[class^="rating"]{
	background-position: left center;
}
.product-list .product-name::before{
	left: 0;
	margin-left: 0;
}
.list-style.product-layout:hover img{
	opacity: 1;
}
.product-layout:hover img{
	opacity: 1;
}
.list-style.product-layout:hover .img-r{
	opacity: 1;
}
.list-style .actions-link2 .btn-quickview{
	display: none;
}
/* module product */
.tt-product{
	clear: both;
}
.tt_tabsproduct_module .module-title{
	float: left;
	width: 100%;
}
.tt_tabsproduct_module .module-title .tab-heading{
	float: right;
	margin-right: 85px;
}
.tt_tabsproduct_module .module-title h2{
	float: left;
}
.tab-heading li a{
	background: none !important;
	border-radius: 0;
	padding: 0;
	margin: 0;
	color: #363636;
	font-size: 15px;
	font-weight: 400;
}
.tab-heading li.active a:hover,
.tab-heading li.active a:focus,
.tab-heading li:hover a,
.tab-heading li.active a{
	color: #e53131;
}
.tab-heading li{
	list-style: none;
	cursor: pointer;
	float: none;
	margin: 0 !important;
	padding: 7px 12px;
	display: inline-block;
}
.tab-products .tab-heading li.active a:hover,
.tab-products .tab-heading li.active a:focus,
.tab-products .tab-heading li:hover a,
.tab-products .tab-heading li.active a{
	color: #363f4d;
}
.tab-products .tab-heading li a{
	color: #c3c3c3;
	font-weight: 700;
	text-transform: uppercase;
}
.tab-products .tab-heading li:not(:last-child){
	border-right: 1px solid #ebebeb;
}
.tab-products .tab-heading{
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
}
.tab-products .tab-heading li{
	border: none;
	padding: 0 30px;
	display: inline-block;
}
.module-image:hover img{
	opacity: .8
}
.module-image{
	text-align: center;
}
.tt_tabsproduct_module{
	margin-bottom: 95px;
}
.tt_product_module{
	margin-bottom: 95px;
}
.related-products{
}
.tt_tabsproduct_module .module-title > button{
	float: right;
	margin-right: 87px;
	line-height: 1;
	display: block;
	height: 33px;
	width: 33px;
	padding: 0;
	margin-top: 1px;
	border: none;
}
/* responsive */
@media(min-width: 1025px){
	.tt_tabsproduct_module .module-title > button{
		display: none;
	}	
}
@media(max-width: 1024px){
	.tt_product_module{
		margin-bottom: 45px;
	}
	.tt_tabsproduct_module .module-title > .tab-heading{
		display: none;
	}
	.tt_tabsproduct_module .module-title .tab-heading{
		position: absolute;
		background: #fff;
		z-index: 1;
		right: 60px;
		top: 0;
		box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	}
	.tab-heading li{
		display: block;
	}
}
@media(max-width: 480px){
	.tt_tabsproduct_module .module-title > button{
		margin-right: 0;
	}
	.tt_tabsproduct_module .module-title .tab-heading{
		right: 0;
		margin-right: 50px;
	}
}