#search-by-category {
	display: flex;
	position: relative;
}
.search-container{ 
	float: left;
}
#text-search{
	float: left;
	height: 45px;
	border: none;
	padding: 0 20px 0 0;
	font-size: 12px;
	border-radius: 0;
	background: none;
}
#text-search::-webkit-input-placeholder{
  color: #a4a4a4;
  opacity: 1;
}
#text-search::-moz-placeholder{
  color: #a4a4a4;
  opacity: 1;
}
#text-search:-ms-input-placeholder{
  color: #a4a4a4;
  opacity: 1;
}
#text-search:-moz-placeholder {
  color: #a4a4a4;
  opacity: 1;
}
.categories-container{
	float: right;
	max-width: 150px;
	width: 150px;
	display: none;
}
.cate-items .f2,
.cate-items .f1{
	padding-left: 10px;
}
.cate-items .item-cate{
	cursor: pointer;
}
.cate-items .item-cate:hover{
	color: #e53131
}
.cate-items{
	display: none;
	padding: 0 0 0 10px;
	position: absolute;
	top: calc( 100% + 1px );
	left: 0;
	right: 0;
	background: #fff;
	z-index: 113;
	max-height: 300px;
	overflow-y: auto;
}
.hover-cate > p i{
	font-size: 10px;
	color: #999999;
	padding-left: 20px;
}
.hover-cate > p{
	height: 38px;
	margin: 0;
	text-align: center;
	line-height: 38px;
	color: #757575;
	cursor: pointer
}
.hover-cate{
	position: relative;
}
#sp-btn-search{
	float: right;
	width: 60px;
	height: 45px;
}
#btn-search-category i{
	font-size: 20px;
	color: #8d8d8d;
	line-height: 45px;
}
#btn-search-category:hover i{
	color: #e53131;
}
#btn-search-category{
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	border-radius: 0;
	height: 45px;
	width: 45px;
	text-align: right;
}
.ajax-loader-container { 
	display: none;
}
.ajax-result-item { 
	list-style: none;
}
.ajax-result-msg{
	padding: 10px;
	margin: 0;
}
.search-ajax{
}
.ajax-loader-container { 
	position: absolute; 
	top: 40px; 
	z-index: 112; 
	left: 0;
	right: 0;
	background: rgba(0,0,0,.1); 
	opacity: 0.5; 
}
.ajax-result-container.show > ul{
	border: 1px solid rgba(0,0,0,.1);
	max-height: 300px; 
	overflow-y: auto;
	padding: 15px 0 0;
	margin: 0;
}
.ajax-result-container { 
	position: absolute; 
	top: 52px; 
	z-index: 1000; 
	width: 300px;
	right: 0;
	background: #fff;
	
}
.ajax-result-item .product-info .product-image{
	margin-bottom: 10px;
}
.ajax-result-item .product-info{
	margin-bottom: 20px;
}
@media(max-width: 1024px){
	.categories-container{
		display: none;
	}
	#text-search{
		width: 100%;
	}
	.ajax-result-container{
		left: 0;
		right: auto;
		width: 250px;
	}
}
@media(max-width: 767px){
	#search-by-category{
		padding-right: 0;
	}
}