<div id="blog_home" class="menu-recent">
	<div>
		<div class="module-title">
			<h2>			
				{{ text_headingtitle }}			
			</h2>
		    <div class="module-description">{{ text_subtitle }}</div>
		    <!-- <a class="view_all" href="index.php?route=blog/blog">{{ text_view_all }}</a> -->
		</div>
	 	{% set count, rows = 0, slide.rows %}
		{% if not rows %}
			{% set rows = 1 %}
		{% endif %}

		{% if articles %}
			<div class="articles-container owl-carousel owl-theme">
			{% for article in articles %}
				{% if count % rows == 0 %}
				<div class="row_items">
				{% endif %}
				{% set count = count + 1 %}
					<div class="articles-inner item-inner">
						<div class="articles-image">
							<img src="{{ article.image }}" alt="{{ article.name }}"/>														
						</div>
						<div class="aritcles-content">
							<a class="articles-name" href="{{ article.href }}">{{ article.name }}</a>
							<p>
							{% if article.author %}
								<span class="txt-posted">{{ text_post_by }}</span>
								<span class="author-name">{{ article.author }}</span>
							{% endif %}
							<span class="articles-date">
								/ {{ article.date_added }}
							</span>							
							</p>
							<div class="articles-intro">{{ article.intro_text }}</div>
							<div class="readmore"><a class="btn" href="{{ article.href }}">{{ button_read_more }}</a></div>
						</div>												
					</div>
				{% if (count % rows == 0) or (count == articles|length ) %}
				</div>
				{% endif %}
			{% endfor %}
			</div>
		{% else %}
			<p>{{ text_empty }}</p>
		{% endif %}
	</div>

</div>
<script type="text/javascript">
$(document).ready(function() {
	$(".articles-container").owlCarousel({
		autoPlay : {% if slide.auto %} true {% else %} false {% endif %},
		items : {{ slide['items'] }},
		margin: 30,
		loop: false,			
		navSpeed : {{ slide['speed'] }},
		dotsSpeed : {{ slide['speed'] }},
		autoplaySpeed : {{ slide['speed'] }},
		nav : {% if slide.navigation %} true {% else %} false {% endif %},
		dots : {% if slide.pagination %} true {% else %} false {% endif %},
		navText : ['<i class="icon-chevron-thin-left"></i>','<i class="icon-chevron-thin-right"></i>'],
		responsive:{
			0:{
				items: 1
			},
			480:{
				items: 1
			},
			640:{
				items: 2
			},
			991:{
				items: 3
			},
			1200:{
				items: {{ slide['items'] }}
			}
		}
	});
	checkClasses();
	$(".articles-container").on('translated.owl.carousel', function(event) {
		checkClasses();
	});

	function checkClasses(){
		var total = $('.articles-container .owl-stage .owl-item.active').length;
		$('.articles-container .owl-stage .owl-item').removeClass('firstActiveItem lastActiveItem');
		$('.articles-container .owl-stage .owl-item.active').each(function(index){
			if (index === 0) {
				$(this).addClass('firstActiveItem');
			}
			if (index === total - 1 && total>1) {
				$(this).addClass('lastActiveItem');
			}
		});
	}
});
</script>